/* Ne pas toucher la page de base  */
.principal__body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    font-size: 30px;
}
.principal__body>a{
    text-decoration: none;
    background: rgb(238,174,202);
    padding: 1%;
    color: black;
    font-weight: 900;
    border-radius: 32% 68% 61% 39% / 15% 54% 46% 85%;
}
/* Ne pas toucher la page de base  */

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Si vous voulez creer des nouvelles classe sans quon ai des conflits, commencer tjrs pas la premiere lettre de votre prenom, par exemple pour Nordine ce sera <div class="N_navbar"></div> "N__" pour nordine "M___" pour miguel, ainsi de suite. */
/* ---------------------Agim------------------------ */
@font-face {
    font-family: maFont ;
    src: url(fonts/agim/Voltaire-Frangela.ttf);
}
.A__body{
    padding: 0;
    margin: 0;
    font-family: mafont;
}
/* Page 1 (agim) */
.A__header{
    position: relative;
}
.A__navbar{
    display: flex;
}
.A__navbar__list{ 
    padding: 0;
    margin: 0;
    height: 100vh;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    list-style-type: none;
}
.A__navbar__element::before{
    display: block;
    content: "";
    width: 15rem;
    height: 15rem;
    border: 5px solid black;
    border-radius: 30%;
    align-content: center;
    text-align: center;
    transform: translate(-5px);
    position: absolute;
    top: 35.6%;
    transform: rotate(-20deg);
    pointer-events: none;
    animation: anim 0.1s linear infinite;
}
.A__navbar__element{
    width: 15rem;
    height: 15rem;
    border: 3px solid transparent;
    border-radius: 96px 96px 96px 96px;
    align-content: center;
    text-align: center;
}
.A__navbar__element>a{
    text-decoration: none;
    color: white;
    display: block;
}
.A__navbar__element::after{
    display: block;
    content: "";
    width: 15rem;
    height: 15rem;
    border: 5px solid black;
    border-radius: 30%;
    align-content: center;
    text-align: center;
    position: absolute;
    top: 35.6%;
    transform: translate(-5px);
    transform: rotate(20deg);
    pointer-events: none;
    animation: anim 0.1s linear infinite;
}
@keyframes anim {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}
.A__navbar__element:hover::before {
    animation: none;
    border: none;
}
.A__navbar__element:hover::after {
    animation: none;
    border: none;
}
.A__navbar__element:hover {
    font-size: 45px;
}
.A__navbar__element>a:hover {
    font-size: 45px;
    cursor: pointer;
    color: black;

}
.A__header__pic{
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;  
}

/* page 2 (galerie) */
.A__body__galerie {
    background-color: rgba(0, 0, 0, 0.651);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.A__container {
    display: flex;
    align-items: flex-start;
    overflow: visible;
}

.A__envelope {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 30vh;
    background-color: #cd902f;
    position: relative;
    border: 2px solid black;
    margin: 17vw 3vw;

}

.A__album {
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.A__photo {
    position: absolute;
    width: 10vw;
    height: 30vh;
    z-index: 2;
    opacity: 0;
}

.A__container-cadres {
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    justify-content: center;
    width: 90%;
    align-items: center;
}

.A__cadre {
    width: 10vw;
    height: 30vh;
    background-color: gray;
    border: 2px solid black;
    margin: 0.5vh;
    position: relative;
    z-index: 1;
}

.A__photo1 {
    animation: animPhoto1 2s forwards;
    animation-delay: 3.5s;
}

.A__photo2 {
    animation: animPhoto2 2s forwards;
    animation-delay: 3s;

}

.A__photo3 {
    animation: animPhoto3 2s forwards;
    animation-delay: 2.5s;

}

.A__photo4 {
    animation: animPhoto4 2s forwards;
    animation-delay: 2s;
}

.A__photo5 {
    animation: animPhoto5 2s forwards;
    animation-delay: 1.5s;

}

.A__photo6 {
    animation: animPhoto6 2s forwards;
    animation-delay: 1s;

}

@keyframes animPhoto1 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    20% {
        transform: translate(-22.8vw, 5vw) scale(0.5);
        opacity: 0;
    }

    30% {
        transform: translate(-22.8vw, 5vw) scale(0.5)translateY(-14vw);
        border-radius: 50%;
        opacity: 1;
    }

    50% {
        transform: translate(-22.8vw, 5vw) scale(0.5)translateY(-14vw) translate(45.6vw -10vw) scale(2);
        opacity: 1;
    }

    100% {
        transform: translate(-22.8vw, 5vw) scale(0.5)translateY(-14vw) translate(45.6vw -10vw) scale(2);
        opacity: 1;
    }
}

@keyframes animPhoto2 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    20% {
        transform: translate(-33.8vw, 5vw) scale(0.5);
        opacity: 0;
    }

    30% {
        transform: translate(-33.8vw, 5vw) scale(0.5)translateY(-14vw);
        border-radius: 50%;
        opacity: 1;
    }

    50% {
        transform: translate(-33.8vw, 5vw) scale(0.5)translateY(-14vw) translate(45.6vw -10vw) scale(2);
        opacity: 1;
    }

    100% {
        transform: translate(-33.8vw, 5vw) scale(0.5)translateY(-14vw) translate(45.6vw -10vw) scale(2);
        opacity: 1;
    }
}

@keyframes animPhoto3 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    20% {
        transform: translate(-44.8vw, 5vw) scale(0.5);
        opacity: 0;
    }

    30% {
        transform: translate(-44.8vw, 5vw) scale(0.5)translateY(-14vw);
        border-radius: 50%;
        opacity: 1;
    }

    50% {
        transform: translate(-44.8vw, 5vw) scale(0.5)translateY(-14vw) translate(45.6vw -10vw) scale(2);
        opacity: 1;
    }

    100% {
        transform: translate(-44.8vw, 5vw) scale(0.5)translateY(-14vw) translate(45.6vw -10vw) scale(2);
        opacity: 1;
    }
}

@keyframes animPhoto4 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    20% {
        transform: translate(-55vw, 5vw) scale(0.5);
        opacity: 0;
    }

    30% {
        transform: translate(-55vw, 5vw) scale(0.5)translateY(-14vw);
        border-radius: 50%;
        opacity: 1;
    }

    50% {
        transform: translate(-55vw, 5vw) scale(0.5)translateY(-14vw) translate(45.6vw -10vw) scale(2);
        opacity: 1;
    }

    100% {
        transform: translate(-55vw, 5vw) scale(0.5)translateY(-14vw) translate(45.6vw -10vw) scale(2);
        opacity: 1;
    }
}

@keyframes animPhoto5 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    20% {
        transform: translate(-66vw, 5vw) scale(0.5);
        opacity: 0;
    }

    30% {
        transform: translate(-66vw, 5vw) scale(0.5)translateY(-14vw);
        border-radius: 50%;
        opacity: 1;
    }

    50% {
        transform: translate(-66vw, 5vw) scale(0.5)translateY(-14vw) translate(45.6vw -10vw) scale(2);
        opacity: 1;
    }

    100% {
        transform: translate(-66vw, 5vw) scale(0.5)translateY(-14vw) translate(45.6vw -10vw) scale(2);
        opacity: 1;
    }
}

@keyframes animPhoto6 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    20% {
        transform: translate(-76.2vw, 5vw) scale(0.5);
        opacity: 0;
    }

    30% {
        transform: translate(-76.2vw, 5vw) scale(0.5)translateY(-14vw);
        border-radius: 50%;
        opacity: 1;
    }

    50% {
        transform: translate(-76.2vw, 5vw) scale(0.5)translateY(-14vw) translate(45.6vw -10vw) scale(2);
        opacity: 1;
    }

    100% {
        transform: translate(-76.2vw, 5vw) scale(0.5)translateY(-14vw) translate(45.6vw -10vw) scale(2);
        opacity: 1;
    }
}

.A__photo7 {
    animation: animPhoto7 2s forwards;
    animation-delay: 6.5s;
}

.A__photo8 {
    animation: animPhoto8 2s forwards;
    animation-delay: 6s;
}

.A__photo9 {
    animation: animPhoto9 2s forwards;
    animation-delay: 5.5s;
}

.A__photo10 {
    animation: animPhoto10 2s forwards;
    animation-delay: 5s;
}

.A__photo11 {
    animation: animPhoto11 2s forwards;
    animation-delay: 4.5s;
}

.A__photo12 {
    animation: animPhoto12 2s forwards;
    animation-delay: 4s;
}

@keyframes animPhoto7 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    20% {
        transform: translate(-22.8vw, -12vw) scale(0.5);
        opacity: 0;
    }

    30% {
        transform: translate(-22.8vw, -12vw) scale(0.5)translateY(-14vw) rotate(5000deg);
        border-radius: 50%;
        opacity: 1;
    }

    50% {
        transform: translate(-22.8vw, -12vw) scale(0.5)translateY(-14vw) rotate(5000deg) translate(45.6vw -10vw);
        border-radius: 50%;
        opacity: 1;
    }

    100% {
        transform: translate(-22.8vw, -12vw) scale(0.5)translateY(-14vw) rotate(5000deg) translate(45.6vw -10vw) scale(2);
        opacity: 1;
    }
}

@keyframes animPhoto8 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    20% {
        transform: translate(-33.8vw, -12vw) scale(0.5);
        opacity: 0;
    }

    30% {
        transform: translate(-33.8vw, -12vw) scale(0.5)translateY(-14vw) rotate(5000deg);
        border-radius: 50%;
        opacity: 1;
    }

    50% {
        transform: translate(-33.8vw, -12vw) scale(0.5)translateY(-14vw) rotate(5000deg) translate(45.6vw -10vw);
        border-radius: 50%;
        opacity: 1;
    }

    100% {
        transform: translate(-33.8vw, -12vw) scale(0.5)translateY(-14vw) rotate(5000deg) translate(45.6vw -10vw) scale(2);
        opacity: 1;
    }
}

@keyframes animPhoto9 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    20% {
        transform: translate(-44.8vw, -12vw) scale(0.5);
        opacity: 0;
    }

    30% {
        transform: translate(-44.8vw, -12vw) scale(0.5)translateY(-14vw) rotate(5000deg);
        border-radius: 50%;
        opacity: 1;
    }

    50% {
        transform: translate(-44.8vw, -12vw) scale(0.5)translateY(-14vw) rotate(5000deg) translate(45.6vw -10vw);
        border-radius: 50%;
        opacity: 1;
    }

    100% {
        transform: translate(-44.8vw, -12vw) scale(0.5)translateY(-14vw) rotate(5000deg) translate(45.6vw -10vw) scale(2);
        opacity: 1;
    }
}

@keyframes animPhoto10 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    20% {
        transform: translate(-55vw, -12vw) scale(0.5);
        opacity: 0;
    }

    30% {
        transform: translate(-55vw, -12vw) scale(0.5)translateY(-14vw) rotate(5000deg);
        border-radius: 50%;
        opacity: 1;
    }

    50% {
        transform: translate(-55vw, -12vw) scale(0.5)translateY(-14vw) rotate(5000deg) translate(45.6vw -10vw);
        border-radius: 50%;
        opacity: 1;
    }

    100% {
        transform: translate(-55vw, -12vw) scale(0.5)translateY(-14vw) rotate(5000deg) translate(45.6vw -10vw) scale(2);
        opacity: 1;
    }
}

@keyframes animPhoto11 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    20% {
        transform: translate(-66vw, -12vw) scale(0.5);
        opacity: 0;
    }

    30% {
        transform: translate(-66vw, -12vw) scale(0.5)translateY(-14vw) rotate(5000deg);
        border-radius: 50%;
        opacity: 1;
    }

    50% {
        transform: translate(-66vw, -12vw) scale(0.5)translateY(-14vw) rotate(5000deg) translate(45.6vw -10vw);
        border-radius: 50%;
        opacity: 1;
    }

    100% {
        transform: translate(-66vw, -12vw) scale(0.5)translateY(-14vw) rotate(5000deg) translate(45.6vw -10vw) scale(2);
        opacity: 1;
    }
}

@keyframes animPhoto12 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    20% {
        transform: translate(-76.2vw, -12vw) scale(0.5);
        opacity: 0;
    }

    30% {
        transform: translate(-76.2vw, -12vw) scale(0.5)translateY(-14vw) rotate(5000deg);
        border-radius: 50%;
        opacity: 1;
    }

    50% {
        transform: translate(-76.2vw, -12vw) scale(0.5)translateY(-14vw) rotate(5000deg) translate(45.6vw -10vw);
        border-radius: 50%;
        opacity: 1;
    }

    100% {
        transform: translate(-76.2vw, -12vw) scale(0.5)translateY(-14vw) rotate(5000deg) translate(45.6vw -10vw) scale(2);
        opacity: 1;
    }
}

.A__photo13 {
    animation: animPhoto13 2s forwards;
    animation-delay: 13s;
}

.A__photo14 {
    animation: animPhoto14 2s forwards;
    animation-delay: 11.8s;
}

.A__photo15 {
    animation: animPhoto15 2s forwards;
    animation-delay: 10.6s;
}

.A__photo16 {
    animation: animPhoto16 2s forwards;
    animation-delay: 9.4s;
}

.A__photo17 {
    animation: animPhoto17 2s forwards;
    animation-delay: 8.2s;
}

.A__photo18 {
    animation: animPhoto18 2s forwards;
    animation-delay: 7s;
}

@keyframes animPhoto13 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    20% {
        transform: translate(-22.8vw, -20vw) scale(0.5);
        opacity: 0;
    }

    30% {
        transform: translate(-22.8vw, -20vw) scale(0.5)translateY(-30vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    }

    50% {
        transform: translate(-22.8vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    }

    60% {
        transform: translate(-22.8vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
    }

    70% {
        transform: translate(-22.8vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(10% 25%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 90% 25%, 90% 50%, 65% 50%, 65% 100%, 35% 100%, 35% 50%, 10% 50%);
    }

    80% {
        transform: translate(-22.8vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    }

    90% {
        transform: translate(-22.8vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    }

    100% {
        transform: translate(-22.8vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) translate(45.6vw -10vw) scale(2);
        opacity: 1;
    }
}

@keyframes animPhoto14 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    20% {
        transform: translate(-33.8vw, -20vw) scale(0.5);
        opacity: 0;
    }

    30% {
        transform: translate(-33.8vw, -20vw) scale(0.5)translateY(-30vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    }

    50% {
        transform: translate(-33.8vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    }

    60% {
        transform: translate(-33.8vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
    }

    70% {
        transform: translate(-33.8vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    }

    80% {
        transform: translate(-33.8vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(10% 25%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 90% 25%, 90% 50%, 65% 50%, 65% 100%, 35% 100%, 35% 50%, 10% 50%);
    }

    90% {
        transform: translate(-33.8vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    }

    100% {
        transform: translate(-33.8vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) translate(45.6vw -10vw) scale(2);
        opacity: 1;
    }
}

@keyframes animPhoto15 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    20% {
        transform: translate(-44.8vw, -20vw) scale(0.5);
        opacity: 0;
    }

    30% {
        transform: translate(-44.8vw, -20vw) scale(0.5)translateY(-30vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    }

    50% {
        transform: translate(-44.8vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    }

    60% {
        transform: translate(-44.8vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    }

    70% {
        transform: translate(-44.8vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    }

    80% {
        transform: translate(-44.8vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    }

    90% {
        transform: translate(-44.8vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    }

    100% {
        transform: translate(-44.8vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) translate(45.6vw -10vw) scale(2);
        opacity: 1;
    }
}

@keyframes animPhoto16 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    20% {
        transform: translate(-55vw, -20vw) scale(0.5);
        opacity: 0;
    }

    30% {
        transform: translate(-55vw, -20vw) scale(0.5)translateY(-30vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    }

    50% {
        transform: translate(-55vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    }

    60% {
        transform: translate(-55vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    }

    70% {
        transform: translate(-55vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(10% 25%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 90% 25%, 90% 50%, 65% 50%, 65% 100%, 35% 100%, 35% 50%, 10% 50%);
    }

    80% {
        transform: translate(-55vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    }

    90% {
        transform: translate(-55vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    }

    100% {
        transform: translate(-55vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) translate(45.6vw -10vw) scale(2);
        opacity: 1;
    }
}

@keyframes animPhoto17 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    20% {
        transform: translate(-66vw, -20vw) scale(0.5);
        opacity: 0;
    }

    30% {
        transform: translate(-66vw, -20vw) scale(0.5)translateY(-30vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    }

    50% {
        transform: translate(-66vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    }

    60% {
        transform: translate(-66vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    }

    70% {
        transform: translate(-66vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    }

    80% {
        transform: translate(-66vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    }

    90% {
        transform: translate(-66vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    }

    100% {
        transform: translate(-66vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) translate(45.6vw -10vw) scale(2);
        opacity: 1;
    }
}

@keyframes animPhoto18 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    20% {
        transform: translate(-76.2vw, -20vw) scale(0.5);
        opacity: 0;
    }

    30% {
        transform: translate(-76.2vw, -20vw) scale(0.5)translateY(-30vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    }

    50% {
        transform: translate(-76.2vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    }

    60% {
        transform: translate(-76.2vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
    }

    70% {
        transform: translate(-76.2vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    }

    80% {
        transform: translate(-76.2vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    }

    90% {
        transform: translate(-76.2vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) scale(1.5);
        opacity: 1;
        clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    }

    100% {
        transform: translate(-76.2vw, -20vw) scale(0.5)translateY(-30vw) translateY(70vw) translate(45.6vw -10vw) scale(2);
        opacity: 1;
    }
}
/* ---------------------Agim------------------------ */

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Si vous voulez creer des nouvelles classe sans quon ai des conflits, commencer tjrs pas la premiere lettre de votre prenom, par exemple pour Nordine ce sera <div class="N_navbar"></div> "N__" pour nordine "M__" pour miguel, ainsi de suite. */
/* ---------------------Nordin------------------------ */


/* ---------------------Nordin------------------------ */

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Si vous voulez creer des nouvelles classe sans quon ai des conflits, commencer tjrs pas la premiere lettre de votre prenom, par exemple pour Nordine ce sera <div class="N_navbar"></div> "N__" pour nordine "M__" pour miguel, ainsi de suite. */
/* ---------------------Miguel------------------------ */


/* ---------------------Miguel------------------------ */

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Si vous voulez creer des nouvelles classe sans quon ai des conflits, commencer tjrs pas la premiere lettre de votre prenom, par exemple pour Nordine ce sera <div class="N_navbar"></div> "N__" pour nordine "M__" pour miguel, ainsi de suite. */
/* ---------------------Soulaiman------------------------ */


/* ---------------------Soulaiman------------------------ */